:root {
    --black: #000000;
    --white: #ffffff;
}

html {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;

}

.container {
    max-width: 1180px;
    padding: 0px 10px;
    margin: 0 auto;
}

/* Header section start */

.header__logo {
    display: flex;
    flex-direction: column;
}

.header__content {
    display: flex;
    font-display: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 0px 10px;
    margin-bottom: 20px;
}

.menu>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

/* Header section end */