:root {
    --black: #000000;
    --white: #ffffff;
}

html {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;

}

.container {
    max-width: 1180px;
    padding: 0px 10px;
    margin: 0 auto;
}

/* Header section start */

.header__logo {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 0px 10px;
    margin-bottom: 20px;
}

.menu>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

/* Header section end */

.contact-info {
    display: flex;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.contact-info_avatar {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 30px 30px 0px;
}

.contact-info_avatar img {
    padding-top: 25px;
    height: 100%;
    width: auto;
}

.contact-links {
    display: flex;
    font-display: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    max-width: 10px 0px 10px 0px;
    gap: 15px;
}

.contact-info {
    margin-bottom: 20px;
    display: flex;
}

.cv-skills {}

.conatcts-data {}

.conatcts-data-content {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}